* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  --color1: linear-gradient(#868F96, #596164);
  --color2: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 39%, rgba(67,81,84,1) 100%);
  --color3: linear-gradient(0deg, rgba(67,81,84,1) 0%, rgba(0,0,0,1) 39%, rgba(2,0,36,1) 100%);
}

body {
  font-family: Helvetica;
}

header {
  background: var(--color1);
  margin-top: 0;
  padding-top: 0;
  height: 10%;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid black;
  z-index: 1;
}

.navbar {
  height: 100%;
}

.navbar ul {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar ul li {
  list-style: none;
  margin: 1rem;
  border-radius: 10%;
}

.navbar ul li:hover {
  transform: scale(1.1);
}

.navbar ul li:last-of-type {
  margin-right: 2rem;
}

.navbar ul li a {
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
}

.welcome-section {
  background: var(--color3);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome-section h1 {
  font-size: 4rem;
  color: white;
}

.welcome-section p {
  font-size: 1.7rem;
  color: white;
  letter-spacing: 2px;
  margin-top: 3rem;
  padding-inline: 10rem;
}

.projects {
  background-color: rgba(67,81,84,1);
  width: 100%;  
  scroll-margin-top: 10vh;
}

.projects h1 {
  font-size: 4rem;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 2rem;
  color: black;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 4rem;
  grid-auto-rows: 1fr;
}

.g1 {
  grid-column: 2 / 3;
}

.g2 {
  grid-column: 3 / 4;
}

.g3 {
  grid-column: 2 / 3;
}

.gp {
  grid-column: 3 / 4;
}

.gp p {
  font-size: 1.7rem;
  color: black;
}

.project-tile a img {
  object-fit: cover;
  /*width: 100%;
  height: 100%;*/
  border: solid 3px black;
}

.project-tile a img:hover {
  background-color: black;
  opacity: 0.6;
}

.project-tile a {
  text-decoration: none;
  color: black;
}

.project-tile a p {
  font-size: 1.4rem;
}

.contact {
  width: 100%;
  height: calc(100vh - 10vh);
  background: var(--color2);
}

.flex-h1 {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact h1 {
  font-size: 4rem;
  color: white;
}

.socials {
  display: flex;
  justify-content: center;
  height: 70%;
}

.fab {
  color: white;
  font-size: 40px;
  margin-inline: 2rem;
}

.fab.freecodecamp-icon {
   margin-top: -5px;
}

footer {
  background-color: rgba(2,0,36,1);
  display: grid;
  justify-content: flex-end;
}

footer p {
  color: white;
  padding: 0 3rem 1.4rem 0;
  font-size: 1rem;
}

@media (max-width: 1100px) {
  h1 {
    font-size: 3rem !important;
  }
  p:not(.gp > p, footer > p) {
    font-size: 1.4rem !important;
  }
  .welcome-section {
    padding-inline: 4rem;
  }
  .projects-grid {
    grid-template-columns: 1fr;
    padding-inline: 4rem;
    gap: 4rem;
  }
  .project-tile {
    grid-column: 1 / 1;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 2.5rem !important;
  }
  p:not(.gp > p) {
    font-size: 1rem !important;
  }
  .welcome-section {
    padding-inline: 4rem;
  }
  .welcome-section p {
    padding-inline: 2rem;
  }
  .projects-grid {
    grid-template-columns: 1fr;
    padding-inline: 4rem;
    gap: 4rem;
  }
  .project-tile {
    grid-column: 1 / 1;
  }
}

@media (max-width: 470px) {
  h1 {
    font-size: 1.5rem !important;
  }  
}
